# config secrets etc.
ENV
.env
config.py
api/config.py

# python venvs
.venv
venv


# real data directories, don't upload to github ;-)
modules/collectors/real_data
real_data
data/


poetry.lock


*.swp
*/*.swp


# test caches from pytest
.pytest_cache
*/.pytest_cache
__pycache__/
*/__pycache__/
old
cache
.coverage
coverage.xml

